# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React
build/
dist/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor files
.vscode/
.idea/
*.swp
*.swo

# MySQL database dump files
*.sql
*.sqlite

# Other
*.tgz
